@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('/backgroun.png');
  background-size: contain;      /* Ensures the whole image is visible */
  background-repeat: no-repeat;  /* Prevent tiling */
  background-position: top center;   /* Center on the screen */
  background-color: #333333;       /* Fills empty space */
  height: 100vh;                 /* Makes body full viewport height */
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;          /* default desktop */
  background-color: #ea5136;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.header-logo {
  height: 80px;          /* default logo size */
}

/* Small screens (phones) */
@media (max-width: 600px) {
  .header-bar {
    height: 60px;        /* smaller header */
  }

  .header-logo {
    height: 60px;        /* smaller logo */
  }
}

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 65px;
  background-color: #ea5136;
  z-index: 900; /* lower than video */
}

.bg-video {
  position: fixed;
  bottom: 10px;          /* sits above the orange bar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;         /* higher than footer */
  width: 80px;
  height: auto;
  pointer-events: none;
  border-radius: 20px
}


